
#global-header {
background: url("../img/agenda1.jpg") no-repeat;
background-size: cover;
padding-top: 150px;
padding-bottom: 107px;
position: relative;
background-attachment: fixed;
}
#global-header:before {
content: "";
position: absolute;
left: 0;
top: 0;
bottom: 0;
right: 0;
width: 100%;
height: 100%;
background: linear-gradient(to left, burlywood, saddlebrown 50%);
opacity: 0.6;
}
.imagenes1{
width: 100%;
height: 50%;
}
#global-header .block {
color: #E3E3E4;
margin: 0 auto;
padding-left: 90px;
text-align: center;
}
#global-header .block h1 {
font-weight: 100;
font-size: 45px;
letter-spacing: 2px;
padding-bottom: 15px;
margin-right: 600px;
text-transform: capitalize;
}
#global-header .block p {
font-size: 16px;
font-weight: 300;
letter-spacing: 1px;
word-spacing: 3px;
}

.imagenes{
position: absolute;
bottom: 20px;
left: 370px;
left: 370px;
}
div.container {
width: 100%;
float: none;
}

.tipo_1 {

width: 33.333%;
float: left;
}

.tipo_2{

width: 33.333%;

float: left;
}
.clear {
background-color:burlywood;
width: 100%;
height: 40px;
clear: both;
border-radius: 20px 20px 20px 20px;
}



a.ifo:link, a.ifo:visited {
background-color: #f44336;
color: white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
}

a{
font-family: 'Emilys Candy', cursive;
color: black;
}

a:hover, a:active {
background-color: red;
}

h2{

font-family: 'Emilys Candy', cursive;
color: black;
font-size:8%;

}

@media screen and (max-width:1000px)and (min-width:100px){


.tipo_1 { float:none ;
width :auto}




}
